.awe-syntax-highlighter{
  padding: 20px;
  text-align: left;
  background-color: $gray-200;
  font-family: courier, courier new;
  font-size: 12px;
  line-height: 1.8em;
  text-shadow: 1px 1px $gray-400;
}
